In [17]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from pandas import Series, DataFrame
%matplotlib inline

In [33]:
index = ['a', 'b', 'c', 'd', 'e']

s = Series(np.arange(5), index=index)

In [43]:
dates = pd.date_range('2017-01-01', '2017-01-5')
dates

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05'],
              dtype='datetime64[ns]', freq='D', tz=None)

In [44]:
atemps = Series([101, 98, 97, 100, 64], index=dates)
atemps

2017-01-01    101
2017-01-02     98
2017-01-03     97
2017-01-04    100
2017-01-05     64
Freq: D, dtype: int64

In [48]:
idx = atemps.index[2]
atemps[idx]

97

In [49]:
btemps = Series([54, 73, 64, 63, 64], index=dates)
btemps

2017-01-01    54
2017-01-02    73
2017-01-03    64
2017-01-04    63
2017-01-05    64
Freq: D, dtype: int64

In [50]:
temps = DataFrame({'Austin': atemps, 'SD': btemps})
temps

            Austin  SD
2017-01-01     101  54
2017-01-02      98  73
2017-01-03      97  64
2017-01-04     100  63
2017-01-05      64  64

In [55]:
temps['diff'] = temps['SD']-temps['Austin']
temps

            Austin  SD  diff
2017-01-01     101  54   -47
2017-01-02      98  73   -25
2017-01-03      97  64   -33
2017-01-04     100  63   -37
2017-01-05      64  64     0

In [81]:
temps - temps.mean()

            Austin   SD  diff
2017-01-01       9 -9.6 -18.6
2017-01-02       6  9.4   3.4
2017-01-03       5  0.4  -4.6
2017-01-04       8 -0.6  -8.6
2017-01-05     -28  0.4  28.4

In [83]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set(style="darkgrid")
plt.rcParams['figure.figsize'] = (12, 3)

/Users/d/PythonEnvs/main/lib/python2.7/site-packages/matplotlib/__init__.py:878: UserWarning: axes.color_cycle is deprecated and replaced with axes.prop_cycle; please use the latter.
  warnings.warn(self.msg_depr % (key, alt_key))

In [87]:
all_data = pd.read_pickle('all_data.pkl')

In [88]:
%run chart_data_v1.py

In [89]:
cap_data = get_cap_data(all_data)

# remove weird outliers
cap_data = cap_data[cap_data.c_in < 1000]
cap_data = cap_data[cap_data.temp > 15]

ac_data = get_ac_data(all_data)
inv_data = get_inverter_data(all_data)
bike_groups = get_bike_groups(all_data)
dings = get_dings(all_data)

In [98]:
stamps = all_data.index[:10]
stamps

DatetimeIndex(['2016-12-17 19:30:17.335000', '2016-12-17 19:30:21.233000',
               '2016-12-17 20:23:25.529000', '2016-12-17 20:23:26.573000',
               '2016-12-17 20:23:33.115000', '2016-12-17 20:23:38.369000',
               '2016-12-17 19:29:25.434000', '2016-12-17 19:29:25.442000',
               '2016-12-17 19:29:25.448000', '2016-12-17 19:29:25.471000'],
              dtype='datetime64[ns]', name=u'time', freq=None, tz=None)

In [126]:
rng = pd.date_range('2016-07-17', periods=1000, freq='D')
ts = Series(np.arange(1000), index=rng)

In [127]:
from datetime import datetime
ts['2016-07-17 00:16:23':]

2016-07-18      1
2016-07-19      2
2016-07-20      3
2016-07-21      4
2016-07-22      5
2016-07-23      6
2016-07-24      7
2016-07-25      8
2016-07-26      9
2016-07-27     10
2016-07-28     11
2016-07-29     12
2016-07-30     13
2016-07-31     14
2016-08-01     15
2016-08-02     16
2016-08-03     17
2016-08-04     18
2016-08-05     19
2016-08-06     20
2016-08-07     21
2016-08-08     22
2016-08-09     23
2016-08-10     24
2016-08-11     25
2016-08-12     26
2016-08-13     27
2016-08-14     28
2016-08-15     29
2016-08-16     30
             ...
2019-03-14    970
2019-03-15    971
2019-03-16    972
2019-03-17    973
2019-03-18    974
2019-03-19    975
2019-03-20    976
2019-03-21    977
2019-03-22    978
2019-03-23    979
2019-03-24    980
2019-03-25    981
2019-03-26    982
2019-03-27    983
2019-03-28    984
2019-03-29    985
2019-03-30    986
2019-03-31    987
2019-04-01    988
2019-04-02    989
2019-04-03    990
2019-04-04    991
2019-04-05    992
2019-04-06    993
2019-04-07    994
2019-04-08    995
2019-04-09    996
2019-04-10    997
2019-04-11    998
2019-04-12    999
Freq: D, dtype: int64

In [128]:
all_data = all_data.sort_index()
all_data.index.is_monotonic

True

In [130]:
df = DataFrame(np.arange(4000).reshape((1000, 4)), index=rng, columns=['A', 'B', 'C', 'hello'])
df.head()

             A   B   C  hello
2016-07-17   0   1   2      3
2016-07-18   4   5   6      7
2016-07-19   8   9  10     11
2016-07-20  12  13  14     15
2016-07-21  16  17  18     19

In [135]:
df.ix['2016-07-20'].index

Index([u'A', u'B', u'C', u'hello'], dtype='object')

In [139]:
btemps = temps.SD.drop(temps.index[2])
btemps

2017-01-01    54
2017-01-02    73
2017-01-04    63
2017-01-05    64
Name: SD, dtype: int64

In [140]:
atemps

2017-01-01    101
2017-01-02     98
2017-01-03     97
2017-01-04    100
2017-01-05     64
Freq: D, dtype: int64

In [149]:
diff = atemps - btemps
diff
diff.fillna(method='ffill')

2017-01-01    47
2017-01-02    25
2017-01-03    25
2017-01-04    37
2017-01-05     0
dtype: float64

In [215]:
N = 100
pd.date_range
rng = pd.date_range( datetime.now(), periods=N, freq='S')
ts = Series(np.random.randn(N), index=rng)

In [216]:
ts.index

DatetimeIndex(['2017-01-16 13:45:24.418688', '2017-01-16 13:45:25.418688',
               '2017-01-16 13:45:26.418688', '2017-01-16 13:45:27.418688',
               '2017-01-16 13:45:28.418688', '2017-01-16 13:45:29.418688',
               '2017-01-16 13:45:30.418688', '2017-01-16 13:45:31.418688',
               '2017-01-16 13:45:32.418688', '2017-01-16 13:45:33.418688',
               '2017-01-16 13:45:34.418688', '2017-01-16 13:45:35.418688',
               '2017-01-16 13:45:36.418688', '2017-01-16 13:45:37.418688',
               '2017-01-16 13:45:38.418688', '2017-01-16 13:45:39.418688',
               '2017-01-16 13:45:40.418688', '2017-01-16 13:45:41.418688',
               '2017-01-16 13:45:42.418688', '2017-01-16 13:45:43.418688',
               '2017-01-16 13:45:44.418688', '2017-01-16 13:45:45.418688',
               '2017-01-16 13:45:46.418688', '2017-01-16 13:45:47.418688',
               '2017-01-16 13:45:48.418688', '2017-01-16 13:45:49.418688',
               '2017-01-16 13:45:50.418688', '2017-01-16 13:45:51.418688',
               '2017-01-16 13:45:52.418688', '2017-01-16 13:45:53.418688',
               '2017-01-16 13:45:54.418688', '2017-01-16 13:45:55.418688',
               '2017-01-16 13:45:56.418688', '2017-01-16 13:45:57.418688',
               '2017-01-16 13:45:58.418688', '2017-01-16 13:45:59.418688',
               '2017-01-16 13:46:00.418688', '2017-01-16 13:46:01.418688',
               '2017-01-16 13:46:02.418688', '2017-01-16 13:46:03.418688',
               '2017-01-16 13:46:04.418688', '2017-01-16 13:46:05.418688',
               '2017-01-16 13:46:06.418688', '2017-01-16 13:46:07.418688',
               '2017-01-16 13:46:08.418688', '2017-01-16 13:46:09.418688',
               '2017-01-16 13:46:10.418688', '2017-01-16 13:46:11.418688',
               '2017-01-16 13:46:12.418688', '2017-01-16 13:46:13.418688',
               '2017-01-16 13:46:14.418688', '2017-01-16 13:46:15.418688',
               '2017-01-16 13:46:16.418688', '2017-01-16 13:46:17.418688',
               '2017-01-16 13:46:18.418688', '2017-01-16 13:46:19.418688',
               '2017-01-16 13:46:20.418688', '2017-01-16 13:46:21.418688',
               '2017-01-16 13:46:22.418688', '2017-01-16 13:46:23.418688',
               '2017-01-16 13:46:24.418688', '2017-01-16 13:46:25.418688',
               '2017-01-16 13:46:26.418688', '2017-01-16 13:46:27.418688',
               '2017-01-16 13:46:28.418688', '2017-01-16 13:46:29.418688',
               '2017-01-16 13:46:30.418688', '2017-01-16 13:46:31.418688',
               '2017-01-16 13:46:32.418688', '2017-01-16 13:46:33.418688',
               '2017-01-16 13:46:34.418688', '2017-01-16 13:46:35.418688',
               '2017-01-16 13:46:36.418688', '2017-01-16 13:46:37.418688',
               '2017-01-16 13:46:38.418688', '2017-01-16 13:46:39.418688',
               '2017-01-16 13:46:40.418688', '2017-01-16 13:46:41.418688',
               '2017-01-16 13:46:42.418688', '2017-01-16 13:46:43.418688',
               '2017-01-16 13:46:44.418688', '2017-01-16 13:46:45.418688',
               '2017-01-16 13:46:46.418688', '2017-01-16 13:46:47.418688',
               '2017-01-16 13:46:48.418688', '2017-01-16 13:46:49.418688',
               '2017-01-16 13:46:50.418688', '2017-01-16 13:46:51.418688',
               '2017-01-16 13:46:52.418688', '2017-01-16 13:46:53.418688',
               '2017-01-16 13:46:54.418688', '2017-01-16 13:46:55.418688',
               '2017-01-16 13:46:56.418688', '2017-01-16 13:46:57.418688',
               '2017-01-16 13:46:58.418688', '2017-01-16 13:46:59.418688',
               '2017-01-16 13:47:00.418688', '2017-01-16 13:47:01.418688',
               '2017-01-16 13:47:02.418688', '2017-01-16 13:47:03.418688'],
              dtype='datetime64[ns]', freq='S', tz=None)

In [220]:
ts.resample('200ms', fill_method='ffill')

2017-01-16 13:45:24.400000         NaN
2017-01-16 13:45:24.600000    1.169568
2017-01-16 13:45:24.800000    1.169568
2017-01-16 13:45:25           1.169568
2017-01-16 13:45:25.200000    1.169568
2017-01-16 13:45:25.400000    1.169568
2017-01-16 13:45:25.600000    1.132960
2017-01-16 13:45:25.800000    1.132960
2017-01-16 13:45:26           1.132960
2017-01-16 13:45:26.200000    1.132960
2017-01-16 13:45:26.400000    1.132960
2017-01-16 13:45:26.600000   -0.437581
2017-01-16 13:45:26.800000   -0.437581
2017-01-16 13:45:27          -0.437581
2017-01-16 13:45:27.200000   -0.437581
2017-01-16 13:45:27.400000   -0.437581
2017-01-16 13:45:27.600000   -0.703210
2017-01-16 13:45:27.800000   -0.703210
2017-01-16 13:45:28          -0.703210
2017-01-16 13:45:28.200000   -0.703210
2017-01-16 13:45:28.400000   -0.703210
2017-01-16 13:45:28.600000    2.149712
2017-01-16 13:45:28.800000    2.149712
2017-01-16 13:45:29           2.149712
2017-01-16 13:45:29.200000    2.149712
2017-01-16 13:45:29.400000    2.149712
2017-01-16 13:45:29.600000    0.127408
2017-01-16 13:45:29.800000    0.127408
2017-01-16 13:45:30           0.127408
2017-01-16 13:45:30.200000    0.127408
                                ...
2017-01-16 13:46:57.600000   -0.302813
2017-01-16 13:46:57.800000   -0.302813
2017-01-16 13:46:58          -0.302813
2017-01-16 13:46:58.200000   -0.302813
2017-01-16 13:46:58.400000   -0.302813
2017-01-16 13:46:58.600000    0.615038
2017-01-16 13:46:58.800000    0.615038
2017-01-16 13:46:59           0.615038
2017-01-16 13:46:59.200000    0.615038
2017-01-16 13:46:59.400000    0.615038
2017-01-16 13:46:59.600000   -0.388535
2017-01-16 13:46:59.800000   -0.388535
2017-01-16 13:47:00          -0.388535
2017-01-16 13:47:00.200000   -0.388535
2017-01-16 13:47:00.400000   -0.388535
2017-01-16 13:47:00.600000   -0.744230
2017-01-16 13:47:00.800000   -0.744230
2017-01-16 13:47:01          -0.744230
2017-01-16 13:47:01.200000   -0.744230
2017-01-16 13:47:01.400000   -0.744230
2017-01-16 13:47:01.600000    0.972889
2017-01-16 13:47:01.800000    0.972889
2017-01-16 13:47:02           0.972889
2017-01-16 13:47:02.200000    0.972889
2017-01-16 13:47:02.400000    0.972889
2017-01-16 13:47:02.600000    0.846607
2017-01-16 13:47:02.800000    0.846607
2017-01-16 13:47:03           0.846607
2017-01-16 13:47:03.200000    0.846607
2017-01-16 13:47:03.400000    0.846607
Freq: 200L, dtype: float64

In [223]:
ts.index = ts.index - ts.index[0]

In [224]:
ts

00:00:00    1.169568
00:00:01    1.132960
00:00:02   -0.437581
00:00:03   -0.703210
00:00:04    2.149712
00:00:05    0.127408
00:00:06   -1.207323
00:00:07   -1.587781
00:00:08   -0.405856
00:00:09   -0.351976
00:00:10   -0.958147
00:00:11    0.847124
00:00:12   -1.350662
00:00:13    0.082187
00:00:14   -1.123820
00:00:15   -1.371014
00:00:16   -0.697245
00:00:17   -0.247325
00:00:18   -0.628571
00:00:19   -0.934636
00:00:20   -0.051394
00:00:21    0.308844
00:00:22   -0.669674
00:00:23    0.223155
00:00:24    0.044911
00:00:25    0.326632
00:00:26    1.079237
00:00:27    0.343963
00:00:28   -0.788739
00:00:29   -0.558037
              ...
00:01:10   -0.288473
00:01:11    2.027717
00:01:12   -2.279385
00:01:13    0.604041
00:01:14   -0.343327
00:01:15    0.581556
00:01:16   -0.730383
00:01:17   -2.061144
00:01:18    0.120498
00:01:19   -0.487687
00:01:20    0.080975
00:01:21    0.355065
00:01:22    0.237049
00:01:23   -0.873747
00:01:24   -0.825239
00:01:25    1.300916
00:01:26    1.790589
00:01:27   -1.800968
00:01:28    1.573846
00:01:29   -0.391103
00:01:30   -0.273245
00:01:31    1.912692
00:01:32    0.711914
00:01:33   -0.302813
00:01:34    0.615038
00:01:35   -0.388535
00:01:36   -0.744230
00:01:37    0.972889
00:01:38    0.846607
00:01:39    0.345160
dtype: float64

In [234]:
stamp = pd.Timestamp('now')
stamp

Timestamp('2017-01-16 14:11:41.178195')

In [240]:
tzstamp = stamp.tz_localize('US/Pacific')
tzstamp

Timestamp('2017-01-16 14:11:41.178195-0800', tz='US/Pacific')

In [242]:
tzstamp.tz_convert('US/Eastern')

Timestamp('2017-01-16 17:11:41.178195-0500', tz='US/Eastern')